commit.sh
add.sh

.idea/
.9
__pycache__

build
app/build/
app/dist/
app/mac_bot.egg-info/
app/assets/*
config.py
whatsapp_login.sh

cli.txt
tags.txt

# modules
libs/yowsup_/modules/broadcast/*
libs/yowsup_/modules/wolfram/*
libs/yowsup_/modules/yesno/*
libs/yowsup_/modules/elo/*

venv